[submodule "foodchain_backend"]
	path = foodchain_backend
	url = https://github.com/jordenchang55/foodchain_backend.git
[submodule "Food-chain-frontend"]
	path = Food-chain-frontend
	url = git@github.com:AndrewZZJ/Food-chain-frontend.git
