[submodule "backend"]
	path = backend
	url = https://github.com/jordenchang55/foodchain_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AndrewZZJ/Food-chain-frontend.git
